nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    min-height: 8vh;
    background-color: #00897b;
    font-family: 'Poppins', sans-serif;

}

.logo {
    color: rgb(226,226,226);
    letter-spacing: 2px;
    position: absolute;
    left: 1%;
    font-family: 'Syne Tactile', cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    margin-right: 3%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav_links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .logo {
        left: 3%;
        display: none;
    }

    .nav_links {
        position: absolute;
        top: 0;
        height: 92vh;
        top: 8vh;
        background-color: #00897b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(-120%);
        transition: transform 0.5s ease-in;
    }

    .nav_links li{
        opacity: 0;
    }

    .burger{
        display: block;
        margin-right: 5%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
   opacity: 0;
}

.toggle .line3{
    transform: rotate(+45deg) translate(-5px,-6px);
}
